<div class="navbar">
<ul>
    <li>
        <a href="/">Current weather</a>
    </li>
     <li>
        <a href="/fiveDayWeather">Five day forecast</a>
    </li>
    {{!-- <li>
        <a href="/hourlyWeather">Hourly forecast</a>
    </li> --}}
</ul>
</div>